// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body {
	background-color: #F5F5F1;
	color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}


.navbar {
	background-color: #EFEFEB;
}

.navbar .navbar-brand {
	font-family: guardian-egypt, georgia, serif;
	font-weight: 400;
	color: #d5641c;
	font-size: 30px;
}

.navbar .navbar-nav > li > a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0192B5;
}

.col-md-6 {
	h3 {font-size: 45px;}
	h5 {font-size: 25px;}
	p {font-size: 18px;}
}


.jumbotron {
	background-image: url('https://images.unsplash.com/photo-1446776653964-20c1d3a81b06?ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80');
	h1, h2 {
		font-family: guardian-egyptt, georgia, serif;
	}
}
